# Environment variables
.env
.env.local
.env.production

# Dependencies
node_modules/

# Prisma
prisma/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Vercel
.vercel/
